Source: filebrowser
Priority: optional
Maintainer: Austin Mount <austin@adrenlinerush.net>
Rules-Requires-Root: no
Build-Depends:
	libqt5webchannel5-dev (=5.15.8-2),
	libqtermwidget5-1-dev (=1.2.0-2),
	qtbase5-dev-tools (=5.15.8+dfsg-11.1),
	qtbase5-dev (=5.15.8+dfsg-11.1),
	qtdeclarative5-dev-tools (=5.15.8+dfsg-3),
	qtdeclarative5-dev (=5.15.8+dfsg-3),
	qtmultimedia5-dev (=5.15.8-2),
	qtpositioning5-dev (=5.15.8+dfsg-3+deb12u1),
	qtwebengine5-dev (=5.15.13+dfsg-1~deb12u1),
Standards-Version: 0.0.1
Homepage: https://wiki.adrenlinerush.net
Vcs-Git: https://github.com/adrenlinerush/filebrowser.git

Package: filebrowser
Architecture: any
Depends:
        libreoffice (>=4:7.4.7-1+deb12u1),
	gstreamer1.0-qt5 (>=1.22.0-5+deb12u1),
	libqt5concurrent5 (=5.15.8+dfsg-11.1),
	libqt5core5a (=5.15.8+dfsg-11.1),
	libqt5dbus5 (=5.15.8+dfsg-11.1),
	libqt5gui5 (=5.15.8+dfsg-11.1),
	libqt5help5 (=5.15.8-2),
	libqt5multimedia5-plugins (=5.15.8-2),
	libqt5multimedia5 (=5.15.8-2),
	libqt5multimediagsttools5 (=5.15.8-2),
	libqt5multimediaquick5 (=5.15.8-2),
	libqt5multimediawidgets5 (=5.15.8-2),
	libqt5network5 (=5.15.8+dfsg-11.1),
	libqt5opengl5 (=5.15.8+dfsg-11.1),
	libqt5positioning5-plugins (=5.15.8+dfsg-3+deb12u1),
	libqt5positioning5 (=5.15.8+dfsg-3+deb12u1),
	libqt5positioningquick5 (=5.15.8+dfsg-3+deb12u1),
	libqt5printsupport5 (=5.15.8+dfsg-11.1),
	libqt5qml5 (=5.15.8+dfsg-3),
	libqt5qmlmodels5 (=5.15.8+dfsg-3),
	libqt5qmlworkerscript5 (=5.15.8+dfsg-3),
	libqt5quick5 (=5.15.8+dfsg-3),
	libqt5quickparticles5 (=5.15.8+dfsg-3),
	libqt5quickshapes5 (=5.15.8+dfsg-3),
	libqt5quicktest5 (=5.15.8+dfsg-3),
	libqt5quickwidgets5 (=5.15.8+dfsg-3),
	libqt5serialport5 (=5.15.8-2),
	libqt5sql5-sqlite (=5.15.8+dfsg-11.1),
	libqt5sql5 (=5.15.8+dfsg-11.1),
	libqt5svg5 (=5.15.8-3),
	libqt5test5 (=5.15.8+dfsg-11.1),
	libqt5waylandclient5 (=5.15.8-2),
	libqt5webchannel5 (=5.15.8-2),
	libqt5webengine-data (=5.15.13+dfsg-1~deb12u1),
	libqt5webengine5 (=5.15.13+dfsg-1~deb12u1),
	libqt5webenginecore5 (=5.15.13+dfsg-1~deb12u1),
	libqt5webenginewidgets5 (=5.15.13+dfsg-1~deb12u1),
	libqt5widgets5 (=5.15.8+dfsg-11.1),
	libqt5x11extras5 (=5.15.8-2),
	libqt5xml5 (=5.15.8+dfsg-11.1),
	libqtermwidget5-1 (=1.2.0-2),
	qdoc-qt5 (=5.15.8-2),
	qhelpgenerator-qt5 (=5.15.8-2),
	qt5-qmake-bin (=5.15.8+dfsg-11.1),
	qt5-qmake (=5.15.8+dfsg-11.1),
	qt5-qmltooling-plugins (=5.15.8+dfsg-3),
	qtattributionsscanner-qt5 (=5.15.8-2),
	qtchooser (=66-2),
	qtermwidget5-data (=1.2.0-2),
	qtgstreamer-plugins-qt5 (=1.2.0-5.2),
	vlc-plugin-qt (>=3.0.20-0+deb12u1),
	gstreamer1.0-alsa (>=1.22.0-3+deb12u1),
	gstreamer1.0-libav (>=1.22.0-2),
	gstreamer1.0-plugins-bad (>=1.22.0-4+deb12u5),
	gstreamer1.0-plugins-base (>=1.22.0-3+deb12u1),
	gstreamer1.0-plugins-good (>=1.22.0-5+deb12u1),
	gstreamer1.0-qt5 (>=1.22.0-5+deb12u1),
	gstreamer1.0-x (>=1.22.0-3+deb12u1),
	libgstreamer-gl1.0-0 (>=1.22.0-3+deb12u1),
	libgstreamer-plugins-bad1.0-0 (>=1.22.0-4+deb12u5),
	libgstreamer-plugins-base1.0-0 (>=1.22.0-3+deb12u1),
	libgstreamer1.0-0 (>=1.22.0-2),
	libqt5multimediagsttools5 (=5.15.8-2),
	qtgstreamer-plugins-qt5 (=1.2.0-5.2),
Description: QT5 based filemanager 
	QT5 based filemanager with built in media player, html viewer, markdown viewer, terminal.
	It has built in integration with libreoffice and vim.
